# Dependencies
node_modules/

# Environment variables
.env
.env.*

# Application directories
temp/
notes/

# Sensitive files
src/keywords.js
*.log

# OS files
.DS_Store
Thumbs.db

# Docker files
*.env
.docker/
docker-compose.override.yml
docker-compose.*.yml
!docker-compose.yml

# Build artifacts
dist/
build/
*.tar
*.gz

# IDE specific files
.idea/
.vscode/
*.swp
*.swo